.bg {
  position: fixed; 
  top: 65px;
  height: 100%;
  width: 100%;
  background-color: #d1dbbd;
  z-index: -10;
}

.container {
  position: absolute;
  top: 65px;
  width: 100%;
}

.title1 {
  color: #412619;
  font-size: 75px;
  text-align: center;
}

.box {
  min-height: 890px;
  width: 100%;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 0px;
}

.box2 {
  width: 100%;
  margin-top: 89px;
}

.colorList {
  position: relative;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  margin-bottom: 50px;
}

.containerRow {
  position: relative;
  height: 43px;
  width: 780px;
  left: 50%;
  margin-left: -390px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.buttonBG {
  border-color: #7349ce;
  border-style: solid;
  border-radius: 5px;
  border-width: 1.5px;
  height: 100%;
  width: 120px;
  margin-left: 70px;
  margin-right: 70px;
  z-index: 3;
}

.base {
  height: 100%;
  width: 100%;
}
  
.text {
  color: #7349ce;
  font-size: 20px;
}
