.color {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 40%;
  margin-top: 3%;
  border-style: solid;
  border-color: #313540;
  border-width: 1.5px;
}

.style1 {
  margin-right: -41;
  margin-left: 35;
  margin-top: 65;
}

.style2 {
  margin-top: 65;
  margin-left: 20;
  color: #313540;
}

.style3 {
  display: flex;
  flex-flow: row nowrap;
}

#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
