.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #d1dbbd;
}

.box {
  height: 80%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 30% 40% 26%;
  grid-template-rows: 62% 36%;
  grid-gap: 2%;
}

.button1Pos {
  grid-row: 1 / 3;
}

.button4Pos {
  grid-column: 2 / 4;
}

.buttonBG {
  height: 100%;
  width: 100%;
  background-color: #313540;
  border-radius: 5px;
}

.text1 {
  display: block;
  color: snow;
  font-family: "Quicksand", sans-serif;
  font-size: 55px;
  margin-top: -80%;
}

.text2 {
  display: block;
  color: snow;
  font-family: "Quicksand", sans-serif;
  font-size: 45px;
  margin-top: -20%;
}

.text3 {
  display: block;
  color: snow;
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  margin-top: -15%;
}

.text4 {
  display: block;
  color: snow;
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  margin-top: 14%;
}

.guessVideo {
  width: 100%;
  height: 100%;
  margin-top: -10%;
}

.mixVideo {
  width: 80%;
  height: 80%;
  margin-left: 0;
}

img {
  width: 80%;
  height: 60%;
  margin-top: 20%;
}
