.container{
  width:30%;
  height:90%;
  margin-top:-7%;
  background-color:#0d1c2390;
  box-shadow:0px 5px 20px #00000090;
}

h6{
  margin-top:22%;
  color:azure;
  text-align:center;
  padding:10%;
  font-size:33px;
  font-family: "Quicksand", sans-serif;
}

.state{
  background-color:#000000;
  border-radius:5px;
  height:43%;
  width:60%;
  margin:auto;
  margin-top:-18%;
}

.info{
  margin-top:22%;
  color:azure;
  font-size:25px;
  font-family: "Quicksand", sans-serif;
  text-align:center;
  margin-top:15%;
}
