.container {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-color: #31353da3;
  box-shadow: 0px 5px 20px #00000090;
}

.title {
  margin-top: 25%;
  margin-bottom: 0px;
  color: #cccccc;
  text-align: center;
  font-size: 33px;
  font-family: "Quicksand", sans-serif;
}

.info {
  margin-top: 10px;
  color: azure;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.state {
  height: 45%;
  width: 70%;
  margin: 12% auto 5%;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.st1 {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.st2 {
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title2 {
  margin: 0px;
  color: #cccccc;
  text-align: center;
  font-size: 33px;
  font-family: "Quicksand", sans-serif;
}
