.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #d1dbbd;
}

.title1 {
  color: #412619;
  text-align: center;
  font-size: 75px;
}

.title2 {
  color:#412619;
  text-align: center;
  margin-bottom:1%;
}

strong {
  margin-top: 50%;
  z-index: 3;
  color: snow;
  font-family: "Quicksand", sans-serif;
}

.base {
  background-color: #313540;
  height: 60px;
  width: 300px;
  margin:2% auto 2% auto;
  border-radius: 5px;
  text-align:center;
}

.menu {
  margin-top:20px;
  font-size: 25px;
}

.container2 {
  display: flex;
  flex-direction: column;
}
