.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d1dbbd;
}

.title1 {
  color: black;
  text-align: center;
  font-size: 75px;
  margin-bottom: 50px;
}

.title2 {
  text-align: center;
}

strong {
  margin-top: 50%;
  z-index: 3;
  color: snow;
  font-family: "Quicksand", sans-serif;
}

.base {
  background-color: #313540;
  height: 80px;
  width: 300px;
  margin: 10px auto 50px auto; 
  border-radius: 5px;
}

.menu {
  margin-top: -5px;
  text-align: center;
  font-size: 25px;
}

.container2 {
  display: flex;
  flex-direction: column;
}
