.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d1dbbd;
}

.target {
  width: 30%;
  height: 25%;
  margin-left: 35%;
  margin-top: 9%;
  background-color: #d1dbbd;
  border-radius: 5px;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}

.inbox {
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-style: double;
  border-color: azure;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  padding: 15%;
  font-size: 20px;
  color: azure;
  background-color: transparent;
}

.confirm {
  width: 10%;
  margin-left: 45%;
  margin-top: 5%;
  color: #31606f;
  border-width: 2px;
  border-color: #31606f;
}
