.tcbuttonBG {
  position: absolute;
  height: 230px;
  width: 440px;
  left: 50%;
  margin: 165px -220px 0px;
  border-radius: 15px;
  border-style: double;
  border-width: 5px;
  border-color: azure;
  background-color: transparent;
}

.cfmbuttonBG {
  position: absolute;
  height: 40px;
  width: 100px;
  left: 50%;
  margin: 455px -50px 0px;
}

.base {
  width: 100%;
  height: 100%;
}

.confirm{
  width:100%;
  height:100%;
  color:#3E606F;
  border-color:#3E606F;
  border-width:2px;
}

.text {
  text-align: center;
  color: azure;
  font-size: 25px;
}
