.target {
  width: 25%;
  height: 25%;
  margin-left: 35%;
  margin-top: 9%;
  background-color: #31353da3;
  border-radius: 5px;
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.inbox {
  width: 90%;
  height: 90%;
  border-width: 2px;
  border-style: double;
  border-color: #cccccc;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  padding: 15%;
  font-size: 20px;
  color: #cccccc;
  background-color: transparent;
}

.confirm {
  width: 10%;
  margin-left: 42.5%;
  margin-top: 2%;
  color: #445058;
  border-width: 2px;
  border-color: #445058;
}
