.Toolbar {
  background-color: #313540;
  height: 20px;
  color: snow;

}

img {
  height: 32px;
  margin-right: 7px;
  margin-top: -3px;
}

.Title {
  font-family: "Alex Brush", cursive;
  font-size: 30px;
}




