.display {
  border-radius: 25%;
  height: 50px;
  width: 50px; 
  margin: 10px 10px 10px 10px;
  box-shadow: #31354c;
}

.bigBox {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #9fbaa8, #31354c);
}

#color1 {
  background-color: yellow;
}
