.toolbar {
  position: fixed;
  top: 0px;
  background-color: #313540;
  width: 100%;
  height: 65px;
  margin-top: 0px;
  color: snow;
  z-index: 10;
}

.image {
  height: 51px;
  width: 51px;
  margin: 7px 20px 7px 30px;
  float: left;
}

.title {
  font-family: "Alex Brush", cursive;
  font-size: 30px;
  line-height: 65px;
  margin: 0px;
  float: left;
}

.rightmost {
  float: right;
  height: 31px;
  width: 31px;
  margin-top: 17px;
  margin-right: 30px;
  margin-left: 10px;
}

.buttonBG {
  float: right;
  height: 31px;
  width: 31px;
  margin: 17px 10px;
}

.info {
  float: right;
  height: 25px;
  width: 25px;
  margin: 20px 13px;
}

.base {
  height: 100%;
  width: 100%;
}

a:link {
  color: white;
} 

a:visited {
  color: white;
} 

a:hover {
  color: white;
} 

a:active {
  color: white;
} 
