.profilePic {
  margin: 100px auto 50px auto;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
}

.info {
  border-radius: 10%;
  background-color: azure;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
}

.bigBox {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #9fbaa8, #31354c);
}
