.bg {
  position: fixed; 
  top: 65px;
  height: 100%;
  width: 100%;
  background-color: #d1dbbd;
  z-index: -10;
}

.info {
  border-radius: 10%;
  background-color: #91AA9D;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  color:#3d3931;
}
