.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d1dbbd;
}

.success{
  z-index:4;
  position:fixed;
  margin-top:-30%;
  margin-left:32%;
  font-size:70px;
  font-family: 'Pacifico', cursive;
  color:rgb(255,102,196);
  text-shadow: rgb(0 255 255) -2px -2px 0px, rgb(255 0 255) 1px 1px 0px;
  filter: opacity(1);
}

.failed{
  z-index:4;
  position:fixed;
  margin-top:-25%;
  margin-left:36%;
  color:#BEBDBF;
  font-size:70px;
  transform: translateZ(0px);
  filter: drop-shadow( #d2bdff 0px 0px 2.38416px) drop-shadow(rgba(221, 221, 221, 0.75) 0px 0px 16.9208px) drop-shadow(rgba(221, 221, 221, 0.44) 0px 0px 50.7624px);
  --color-override: rgb(249,249,249);
}

.button {
  
  padding:1%;
  background-color:transparent;
  color: #7349ce;
  border-style:solid;
  border-width:1.5px;
  border-radius:5px;
  border-color: #7349ce;
  height: 40px;
  width: 180px;
  margin-left: 30px;
  font-size: 15px;
  text-align:center;
}

.buttons {
  position:fixed;
  z-index:5;
  margin-top:-12%;
  margin-left:46%;
  background-color:transparent;
  color: #d2bdff;
  border-color: #d2bdff;
  border-style:solid;
  height: 40px;
  width: 180px;
  font-size:15px;
  border-radius:5px;
  text-align:center;
  padding:5px, 0px, 0px, 0px;
}

.time{
  z-index:3;
  position:fixed;
  color:white;
  margin-top:-20%;
  margin-left:42%;
  font-size:25px;
  text-shadow: #8962df -2px -2px 0px, #888888 1px 1px 0px;
}

.mask{
 
  float:left;
  position:fixed;
  width:100%;
  height:300%;
  margin-top:-100%;
  background-color:#000000b3;
}

.containerRow {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 44%;
  margin-top: 45px;
}
